html {
    height: 100%;
}

body {
    text-align: center;
    font-size: x-large;
    background-color: var(--background-color);
    margin-top: 75px;
}

li {
    padding-bottom: 5px;
    text-align: left;
    font-size: 0.8em;
}

.divMain {
    position: absolute;
    left: 30%;
    right: 10%;
    border: solid;
    display: flex;
    flex-direction: column;
    border: solid;
    background-color: white;
    height: 1640px;
    overflow: auto;
}

.divCompetence {
    /* border: solid; */
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listCompetence {
    padding-top: 5px;
}

.divExperience {
    /* border: solid 1px orange; */
    margin: 0 10% 0 10%;
}

.listExperience {
    /* border: solid 1px rgb(20, 158, 140); */
    margin: 0 10% 0 10%;
}

.time {
    color: grey;
    text-align: left;
    margin: 5px 5px;
}

.nameExperience {
    margin: 0;
    font-size: large;
}

.nameEntreprise {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.ville {
    font-style: italic;
}

.textFormation {
    margin-top: 5px;
}

.divFormation {
    /* border: solid 1px red; */
    margin: 0 10% 0 10%;
}

.NameFormation {
    margin: 2px;
}

.villeFomation {
    margin: 0;
    margin-bottom: 10px;
}

.listFormation {
    margin: 0 10% 0 10%;
    /* border: solid 1px blue; */
}

.divBannier {
    position: absolute;
    left: 10%;
    right: 70%;
    background-color: #084696;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1640px;
}

#photoProfile {
    border-radius: 50%;
    width: 18vw;
    height: auto;
}

.divDetailPersonelle {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#titleDetailPersonelle {
    margin-left: 10%;
    font-size: 2vw;
}

#titleConnaissance {
    font-size: 2vw;
}

#emaildetaille {
    font-size: 1vw;
}

.detailElement {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
}

.logoDetaillePersonelle {
    padding-left: 30px;
    height: 50px;
    width: 50px;
    margin-top: 12.5px;
    margin-right: 25px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: smaller;
    margin: 25px 0 25px 0;
}

.listConnaissance {
    text-align: left;
    margin-left: 20%;
}

.nameCentreIntere {
    font-size: medium;
}

.divCentreIntere {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    justify-self: center;
}

th,
td {
    border: 1px solid rgb(190, 190, 190);
    text-align: center;
}

thead,
tfoot {
    background-color: #99631c;
    color: #fff;
}

tbody {
    background-color: #3e798b;
}