
/* ************************ */
/* MISES EN FORME GENERALES */
/* ------------------------ */

@font-face {
    font-family: 'junge';
    src: url('/static/Fonts/Junge-Regular.ttf');
}

html{
    overflow-y: scroll;
}

body{
    /* background-color: #59beb9; */
    background-color: #008080;
    font-family: Arial;
    margin: 0 auto;
    width: 1300px;
    max-width: 100%;
}

.centrer{
    text-align: center;
}


.ajoutPadding{
    padding: 1% 3% 1% 3%; /* top right bottom left */
}

/*
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
} 
*/
/* conseillé de faire ça avant de se lancer dans un projet! enlever tous les trucs invisibles par défaut des boites etc */

/* ----------------------------------------- */
/* MISES EN FORME de la partie haute du site */
/* ----------------------------------------- */

header{
    display: flex; 
    flex-direction: row;
    /* align-items: stretch; */
    width: 1300px;
    max-width: 100%;
}
.titreCV{
    flex-shrink: 4;
    width: 73%;
    padding: 2%;
}
h1{
    color: white;
    font-family: junge;
}
.description{
    color: white;
    font-size: 20px;
}

.divPhoto{
    width: 27%;
    padding: 2%;
}
.photoProfil{
    width: 175px;
    height: 175px;
    border: none;
    border-radius: 150px;
    margin-top: 5px;
}

/* ---------------------------------------------- */
/* MISES EN FORME de la partie navigation du site */
/* ---------------------------------------------- */

.navigation{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 0;
    align-items: stretch;
    justify-items: stretch;

    position: sticky;
    top: 0;
}
.navigation li{
    display: grid;
    align-items: center;
    text-align: center;
}
.navigation li a {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #fef8e7;
    text-decoration: none;
    font-weight: bold;
    background-color: #eb9f2e;
    border: solid #fef8e7; 
    padding: 0.5em;
    font-size: 1.2em;
}
.navigation li a:hover {
    background-color: #fef8e7;
    color: #eb9f2e;
}

/* ------------------------------------ */
/* MISES EN FORME de la partie basse CV */
/* ------------------------------------ */
.bas{
    display: flex;
    flex-direction: row;
    background-color: #fef8e7;
    align-items: stretch;
    width: 1300px;
    max-width: 100%;
}

    /* ------------------------------- */
    /* MISE EN FORME COLONNE DE GAUCHE */
    /* ------------------------------- */
.colGauche{
    flex-shrink: 4;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 73%;
    padding: 2%;
    background-color: white;
    border: solid #fef8e7; 
}
.CompetencesFlex{
    display: flex;
    justify-content: space-around;
}
.listeComp{
    list-style: none;
}
.listeComp li::marker{
    content: "▶ ";
    font-size: 10px;
    color: #eb9f2e;
}
h3{
    margin-top: -5px;
    margin-bottom: -5px;
}
        /* ---------------- */
        /* Table expérience */
.divExperiences{
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 2%;
}
.annee{ /* la colonne des dates */
    text-align: right;
    vertical-align: top;
    width: 20%;
    border-right: 0.5px dotted #eb9f2e;
}
.expe{ /* la colonne des expériences pro*/
    text-align: left;
}
.borduresInt{ /* classe appliquée sur toutes les lignes sauf la dernière pour finir les bordures intérieures*/
    border-bottom: 0.5px dotted #eb9f2e;
}
        /* mise en forme du texte dans la colonne des expériences pro */
.titreEmploi{
    margin-bottom: 2px;
    margin-top: 0px;
    font-weight: bold;
}
.lieuEmploi{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 1em;
    font-style: italic;

}
.descripEmploi{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 14px;
}
.titreGauche{
    color: #59beb9;
    font-family: junge;

}

    /* ------------------------------- */
    /* MISE EN FORME COLONNE DE DROITE */
    /* ------------------------------- */
.colDroite{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 2%;
}

dt{
    font-weight: bold;
}
dd{
    font-style: italic;
    margin-bottom: 5%;
}
.titreDroit{
    color: #eb9f2e;
    font-family: junge;

}
.median{
    font-size: 18px;
    font-weight: 1000;
    color: #59beb9;
}

/* ----------------------------------------- */
/* MISES EN FORME de la partie basse Hobbies */
/* ----------------------------------------- */

.basHobbies{
    display: flex;
    flex-direction: column;
    background-color: #fef8e7;
    align-items: center;
    width: 1300px;
    max-width: 100%;

    font-size: 19px;
}

/* méthode trouvée ici pour faire un iframe responsive en taille youtube 16:9 
https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
/* .conteneurIframe{    ça c'était dans une div contenant l'iframe
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}   

.responsiveIFrame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
} */

.responsiveIFrame{
    aspect-ratio: 16 / 9;
    width: 100%;
    border: none;
}

/* ----------------------------------------- */
/* MISES EN FORME de la partie basse contact */
/* ----------------------------------------- */

.basContact{
    display: flex;
    flex-direction: column;
    background-color: #fef8e7;
    align-items: center;
    width: 1300px;
    max-width: 100%;
    font-size: 19px;
}

        /* ---------- */
        /* Formulaire */

form{  
  max-width: 800px;
  margin-top: 2em;
  margin-bottom: 2em;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px dotted #eb9f2e;
  border-radius: 1em;
}

form div{
    margin-top: 1em;
}

.labelText{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.inputText{
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 500px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}

textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;

    resize: none; /* pour pas que l'utilisateur puisse changer la taille du */
}

fieldset{
    border: none;
}

/* input[type="radio"]{
    accent-color: #008080;
} */

/* ou, méthode beaucoup plus compliquée... mais résultat très propre */
.form-control {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: left;
}
.form-control :first-child{
    justify-self: right;
}
  
input[type="radio"] {
    /* Add if not using autoprefixer */
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
    
    font: inherit;
    color: grey;
    width: 0.9em;
    height: 0.9em;
    border: 0.05em solid grey;
    border-radius: 50%;
}
  
.form-control + .form-control {
    margin-top: 0.5em;
}
  
input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}
  
input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #008080;
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}
  



button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
       entre les étiquettes et les champs texte */
    margin-left: .5em;
    font-size: 1em;
    background-color: #eb9f2e;
    font-weight: bold;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1em;
    /* transition: transform 0.03s; */
}
button:hover{
    background-color: #d68f23;
    transform: scale(1.01);
}
.requis{
    position: relative;
    top: -0.5em;
    text-align: right;
    font-size: 0.75em;
    color: grey;
}
.indicRequis{
    position: relative;
    top: -0.5em;
    color: grey;
    font-size: 0.75em;
}

/* -------------- */
/* MEDIA QUERIES! */
/* -------------- */

@media only screen and (max-width: 900px) {
    .bas {
        flex-direction: column;
    }
    .colGauche{
        width: 95%;
        padding: 5%;
    }
    .colDroite{
        width: 92%;
        flex-direction: row;
        padding: 5%;
        gap: 3%;
    }
}
